<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1rgGC3U4FOywMP91Q1FLKPt1Dbbl800I</string>
	<key>GCM_SENDER_ID</key>
	<string>306662302112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.My-project--1-</string>
	<key>PROJECT_ID</key>
	<string>bachelorassignment-5399c</string>
	<key>STORAGE_BUCKET</key>
	<string>bachelorassignment-5399c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306662302112:ios:f0100395288faa714204c5</string>
	<key>DATABASE_URL</key>
	<string>https://bachelorassignment-5399c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>